<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dekatruong.keepmysim">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SmsSetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--  -->
            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SENDTO"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <data android:scheme="sms" /> -->
            <!-- <data android:scheme="smsto" /> -->
            <!-- </intent-filter> -->
            <!-- &lt;!&ndash; filter for sending text or images; accepts SEND action and text or image data &ndash;&gt; -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <data android:mimeType="image/*"/> -->
            <!-- <data android:mimeType="text/plain"/> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".MyAlarmReceiver" ></receiver>
    </application>

</manifest>