<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dekatruong.keepmysim">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SmsSetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyAlarmReceiver" />
        <receiver android:name=".SmsSendingAlarmReceiver" />

        <activity
            android:name=".SmsSendScheduleListActivity"
            android:label="@string/title_smssendschedule_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmsSendScheduleDetailActivity"
            android:label="@string/title_smssendschedule_detail"
            android:parentActivityName=".SmsSendScheduleListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dekatruong.keepmysim.SmsSendScheduleListActivity" />
        </activity>
    </application>

</manifest>